#title {
  background-color: #ff4c68;
  padding-top: 3%;
  padding-right: 15%;
  padding-bottom: 3%;
  padding-left: 15%
}
body {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h1{
  font-family:'Montserrat', sans-serif;
  font-weight: 900;
  font-size:3rem;
  line-height:1.5;
}
