/*title section*/

#title {
  background-color: #ff4c68;
  padding-top: 3%;
  padding-right: 15%;
  padding-bottom: 3%;
  padding-left: 15%
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h1{
  font-family:'Montserrat', sans-serif;
  font-weight: 900;
  font-size:3rem;
  line-height:1.5;
  color: white;
}

h2 {
  font-weight: bold;
  font-family:'Montserrat', sans-serif;
}
.button-space {
  margin-left: 0;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 5%
}
.container-fluid {
  padding: 3% 15%;
}

.iphone {
  transform: rotate(30deg);
  width: 60%;
  margin-left: 4rem;
  position: absolute;
}

.navbar {
  padding-left: 0;
}
.navbar-brand {
  font-family:'ubuntu', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 4.5rem;
  }

.nav-item {
 margin-right: 18px;
 margin-left: 18px;
 font-weight: 100;
 font-size: 1.2rem;
 margin-bottom: 4.5rem;
 }

/*Features section*/

#features {
  padding-top: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  text-align: center;
  background-color: white;
  z-index: 1;
  position: relative;
}

h3 {
  font-family:'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.light_para {
  color: #8f8f8f;
}
 .fe-icon{
  color: #ef8172;
  margin-bottom: 5%;
}
.fe-icon:hover{
  color: #ff4c68;
}



/*testimonial section*/
#press {
  background-color: #ef8172;
  text-align: center;
  z-index: 3;

}

#testimonials {
  text-align: center;
  color: white;
  background-color: #ef8172;
}

.carousel-item {
}

.press-logo {
width: 15%;
padding: 10px 20px 50px;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.testimonial-text {
padding: 3% 10% 0 10%;
font-family:'Montserrat', sans-serif;

}


/*pricing section*/

#cta {
  text-align: center;
  color: white;
  background-color: #ff4c68;
  padding: 10% 10%;
}

#pricing {
  padding: 7% 15%;
  text-align: center;
}

.card {
  margin-top: 5%;

}

/*footer section*/

#footer {
  text-align: center;
  padding: 10% 10%;
}

.icon {
  color: #ff4c68;
margin: 2% 2% 2% 2%;
}

/*media queries*/

@media screen and (max-width: 992px) {


#features {
z-index: 0;
position: ;
}

#title {
  text-align: center;
}
.iphone {
  transform: rotate(0deg);
  width: 60%;
  margin-left: 0rem;
  text-align: center;
  position: relative;
}
}
